* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #3F3F3F;
  line-height: 1.5; }

.clearfix {
  overflow: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.Privacy-Policy .wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 50px; }
  @media screen and (max-width: 760px) {
    .Privacy-Policy .wrapper {
      padding: 20px 20px; } }
.Privacy-Policy .head {
  border-bottom: dotted 1px #bbbbbb;
  padding: 40px; }
.Privacy-Policy .first-title {
  margin-bottom: 5px;
  font-size: 17px; }
.Privacy-Policy .center-title {
  text-align: center;
  padding: 30px 0;
  border-bottom: dotted 1px #bbbbbb;
  font-size: 14px; }
.Privacy-Policy .w100.drop-box {
  width: 100%; }
.Privacy-Policy .title {
  font-size: 13px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 760px) {
    .Privacy-Policy .title {
      text-align: center;
      font-size: 12px; } }
.Privacy-Policy .subtitle {
  font-size: 10px;
  margin-bottom: 5px; }
.Privacy-Policy .paragraph {
  font-size: 15px;
  margin-bottom: 5px;
  color: #6B6B6B;
  font-size: 10px; }
.Privacy-Policy .box {
  padding: 20px 0;
  border-bottom: dotted 1px #bbbbbb; }
  .Privacy-Policy .box_shape-wrapper {
    float: left;
    width: 5%;
    margin-left: 20px; }
    @media only screen and (max-width: 760px) {
      .Privacy-Policy .box_shape-wrapper {
        margin-left: 10px; } }
    .Privacy-Policy .box_shape-wrapper img {
      width: 100%; }
  .Privacy-Policy .box_txt-wrapper {
    float: right;
    width: 90%;
    padding-left: 20px; }
  .Privacy-Policy .box li.paragraph {
    margin-left: 30px; }
  .Privacy-Policy .box:last-child .paragraph {
    font-size: 8px; }
.Privacy-Policy .space {
  margin-bottom: 20px; }
.Privacy-Policy .drop-box {
  width: 50%;
  border: solid 1px #c2c2c2; }
  .Privacy-Policy .drop-box.expanded .tab-title {
    transition: 1s; }
    .Privacy-Policy .drop-box.expanded .tab-title:after {
      transform: rotate(-90deg); }
  .Privacy-Policy .drop-box .click-it {
    position: relative;
    cursor: pointer; }
    .Privacy-Policy .drop-box .click-it .tab-title {
      display: inline-block;
      font-size: 11px;
      font-weight: bold; }
      .Privacy-Policy .drop-box .click-it .tab-title:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 9px;
        border: 4px;
        border-color: transparent;
        border-style: solid;
        border-right-color: #333B43; }
    .Privacy-Policy .drop-box .click-it img {
      vertical-align: middle;
      margin: 0 10px;
      width: 15px; }
      .Privacy-Policy .drop-box .click-it img.legal-sign {
        width: 9px; }
  .Privacy-Policy .drop-box .hide-box {
    padding: 15px;
    display: none;
    border-top: dotted 1px gray; }
  .Privacy-Policy .drop-box .show {
    display: block;
    padding: 15px;
    transition: 300ms; }
  .Privacy-Policy .drop-box .legal-information {
    padding-top: 15px;
    border-top: dotted 1px #bbbbbb; }
  @media only screen and (max-width: 760px) {
    .Privacy-Policy .drop-box {
      width: 100%; } }
.Privacy-Policy_link {
  text-decoration: none;
  font-weight: bold;
  color: #050b50; }

/*# sourceMappingURL=style.css.map */
