* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: montserrat;
    font-family: sans-serif;
    color: #3F3F3F;
    line-height: 1.5;
}

// @font-face {
//     font-family: montserrat;
//     src: url(../font/Montserrat-Regular.ttf);
//     src: url(../font/Montserrat-Bold.ttf);
// }

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

///////////////////////// Start Styles

.Privacy-Policy {
    .wrapper {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 50px;
        @media screen and (max-width:760px){
        padding: 20px 20px;
            
        }
    }

    .head {
        border-bottom: dotted 1px #bbbbbb;
        padding: 40px;
    }

    .first-title {
        margin-bottom: 5px;
        font-size: 17px;
    }

    .center-title {
        text-align: center;
        padding: 30px 0;
        border-bottom: dotted 1px #bbbbbb;
        font-size: 14px;
    }
    .w100.drop-box{
        width: 100%;
    }
    .title {
        font-size: 13px;
        margin-bottom: 10px;

        @media only screen and (max-width: 760px) {
            text-align: center;
            font-size: 12px;
        }
    }

    .subtitle {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .paragraph {
        font-size: 15px;
        margin-bottom: 5px;
        color: #6B6B6B;
        font-size: 10px;
    }

    .box {
        padding: 20px 0;
        border-bottom: dotted 1px #bbbbbb;

        &_shape-wrapper {
            float: left;
            width: 5%;
            margin-left: 20px;
        
            @media only screen and (max-width: 760px) {
                margin-left: 10px;
            }

            img {
                width: 100%;
            }
        }

        &_txt-wrapper {
            float: right;
            width: 90%;
            padding-left: 20px;
        }

        li.paragraph {
            margin-left: 30px;
        }
        &:last-child{
            .paragraph{
               font-size: 8px; 
            }
            
        }
    }

    .space {
        margin-bottom: 20px;
    }

    .drop-box {
        width: 50%;
        border: solid 1px #c2c2c2;
        &.expanded{
            .tab-title { 
                transition: 1s;
                &:after {
                    transform: rotate(-90deg); 
                }
            }
        }
        .click-it {
            position: relative;
            cursor: pointer;

            .tab-title {
                display: inline-block;
                font-size: 11px;
                font-weight: bold;

                &:after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 9px;
                    border: 4px;
                    border-color: transparent;
                    border-style: solid;
                    border-right-color: #333B43;
                }
            }

            img {
                vertical-align: middle;
                margin: 0 10px;
                width: 15px;
                &.legal-sign{
                    width: 9px;
                }
            }

        }
        .hide-box{
             padding:15px;
             display: none;
             border-top: dotted 1px gray;
        }
        .show{
            display: block;
            padding:15px;
            transition: 300ms;
        }
        .legal-information{
            padding-top: 15px;
            border-top: dotted 1px #bbbbbb;

        }
        
        @media only screen and (max-width: 760px) {
            width: 100%;
        }
    }
    &_link{
        text-decoration: none;
        font-weight: bold;
        color: #050b50;

    }

}