* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: montserrat;
    font-family: sans-serif;
    color: #3f3f3f;
    line-height: 1.5;
}

// @font-face {
//     font-family: montserrat;
//     src: url(../font/Montserrat-Regular.ttf);
//     src: url(../font/Montserrat-Bold.ttf);
// }

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

///////////////////////// Start Styles

.terms {
    h1 {
        font-weight: 100;
        font-size: 27px;
    }
    .wrapper {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 50px;

        @media screen and (max-width: 760px) {
            padding: 20px 20px;
        }
    }

    .head {
        border-bottom: dotted 1px #bbbbbb;
        padding: 40px;
    }

    .paragraph {
        font-size: 14px;
        margin-bottom: 5px;
        color: #6b6b6b;
    }
    li {
        list-style: none;
        &.point {
            list-style: disc;
            margin-left: 25px;
        }
    }
    .bold {
        font-weight: bold;
    }

    .first-title {
        margin-bottom: 5px;
        font-size: 17px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 10px;
        padding-top: 50px;

        @media only screen and (max-width: 760px) {
            text-align: center;
            font-size: 15px;
        }
    }

    .subtitle {
        font-size: 17px;
        margin-bottom: 5px;
        @media only screen and (max-width: 760px) {
           
            font-size: 14px;
        }
    }
    .mini-title {
        font-size: 13px;
        margin-bottom: 10px;
        color: #555;
    }

    .box {
        padding: 20px 0;
        border-bottom: dotted 1px #bbbbbb;

        &_shape-wrapper {
            float: left;
            width: 5%;
            margin-left: 20px;

            @media only screen and (max-width: 760px) {
                margin-left: 10px;
            }

            img {
                width: 100%;
            }
        }

        &_txt-wrapper {
            float: right;
            width: 90%;
            padding-left: 20px;
        }
    }

    .space {
        margin-bottom: 20px;
    }
    .font-small{
        font-size: 12px;
    }

    .drop-box {
        width: 100%;
        border: solid 1px #c2c2c2;
        &.expanded {
            .tab-title {
                transition: 1s;
                &:after {
                    transform: rotate(-90deg);
                }
            }
        }
        .click-it {
            position: relative;
            cursor: pointer;

            .tab-title {
                display: inline-block;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;

                &:after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 9px;
                    border: 4px;
                    border-color: transparent;
                    border-style: solid;
                    border-right-color: #333b43;
                }
            }
        }
        .hide-box {
            padding: 15px;
            display: none;
            border-top: dotted 1px gray;
            p.paragraph{
                font-size: 13px;
            }
        }
        .show {
            display: block;
            padding: 15px;
            transition: 300ms;
        }

        @media only screen and (max-width: 760px) {
            width: 100%;
        }
    }
    // &_link {
    //     text-decoration: none;
    //     font-weight: bold;
    //     color: #050b50;
    // }
}
